
:root {
    --main-color: #3C3C3C;
    --bg-gray: #F6F6F6;
    --font-18: 18px;
    --font-16: 16px;
    --sec-c-black: #282528;
    --sec-c-gray: #646464;
    --font-w-600: 600;
    --font-w-700: 700;
    --font-w-300: 300;
    --bor-bl: 1px solid #18B5DC;
    --main-bl:  #18B5DC;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}

.pt_150 {
    padding-top: 150px;
}

.pb_150 {
    padding-bottom: 150px;
}

.mb_64 {
    margin-bottom: 64px;
}

.mb_60 {
    margin-bottom: 60px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_28 {
    margin-bottom: 28px;
}

/* .di-fx{
    display: flex;
} */

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

img {
    vertical-align: top;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    height: 80px;
    padding-top: 2.93px;
    padding-bottom: 2.93px;
    border-bottom: 1px solid #BDBDBD;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-block_img {
    display: flex;
    align-items: center;
}

.block-nav_ul {
    display: flex;
    gap: 30px;
    margin-right: 38px;
}

.block-nav_ul--li {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--font-w-600);
    transition: all 0.3s;
}

.block-nav_ul--li:hover {
    color: var(--main-bl);
}

.button {
    display: inline-flex;
    font-size: var(--font-18);
    font-weight: var(--font-w-600);
    line-height: 21.6px;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 10px 19px;
    background: transparent;
    border: 1px solid var(--main-color);
    transition: 0.2s;
    font-family:'Lato', sans-serif;
    cursor: pointer;
}

.header-block_btn{
    display: inline-flex;

}

.button:hover {
    background-color: var(--main-bl);
    color: #FFFFFF;
}

.button:active {
    box-shadow: 2px 3px 4px var(--main-color);

}

/* !#HEADER#!*/

/* MAIN */

.section-social {
    background: var(--bg-gray);
}

.section-social_title {
    display: flex;
    justify-content: center;
    font-weight: var(--font-w-700);
    font-size: 34px;
    margin-bottom: 56px;
    line-height: 40.8px;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    color: var(--main-color);
}

.section-social_text {
    max-width: 570px;
    color: var(--main-color);
    font-size: var(--font-16);
    text-align: center;
    line-height: 24px;
    font-weight: var(--font-w-300);
    margin-bottom: 55px;
}

.section-social_block--text {
    display: flex;
    justify-content: center;
}

.block-photos_links {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 270px;
    height: 270px;
    background: var(--main-bl); */
    /* text-align: center; */
}

.section-social_block--photos {
    display: flex;
    gap: 30px;
}

.block-photos_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 270px;
    height: 270px;
    background: var(--main-bl);

}

.block-photos_li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: #5DCBE6;
    color: #FFFFFF;
    transition: all 0.3s;

}

.block-photos_li:hover {
    background-color: #ffffff; 
    color: #5DCBE6; 
}


.block-photos_li:hover svg path {
    fill: #5DCBE6; 
}

.block-photos_li, svg path {
    fill: #ffffff; 
}

.block-photos--title {
    font-weight: var(--font-w-700);
    font-size: var(--font-18);
    line-height: 21.6px;
    color: var(--sec-c-black);
}

.block-photos--text {
    color: var(--sec-c-gray);
    font-size: var(--font-w-300);
    font-weight: var(--font-w-300);
    line-height: 21.6px;
    letter-spacing: 1px;
}



/* !#MAIN#! */